body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.app-title {
  font-size: 36px;
  text-align: center;
  margin: 20px 0;
}


.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader {
  font-size: 2rem;
}

.spinner {
  margin-top: 1rem;
  width: 40px;
  height: 40px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.error{
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;


}

.search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#search {
  font-size: 18px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 300px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s ease-in-out;
}

.product-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.product-container:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-right: 20px;
}

.product-details {
  flex: 1;
}

.product-title {
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
}

.product-description {
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
}

.product-price {
  font-size: 24px;
  margin: 0;
}



